version: '3'

services:
  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/cert.pem:/etc/cert.pem
      - ./nginx/key.pem:/etc/key.pem
    depends_on:
      - back
    networks:
      alica:
        aliases:
          - nginx
    ports:
      - "80:80"
      - "443:443"
  certbot:
    ports:
      - "6000:80"
    env_file:
      - .env
    # и снова мониторуем директорию nginx
    volumes:
      - ./nginx/:/etc/nginx/
    build:
      context: ./certbot
      dockerfile: Dockerfile
      # задаем переменные среды
      args:
        DOMAIN_EMAIL: ${DOMAIN_EMAIL}
        DOMAIN_URL: ${DOMAIN_URL}
  back:
    build:
      context: back
      dockerfile: ../buildfiles/Dockerfile
    restart: always
    volumes:
      - ./back/src:/app/src
    ports:
      - '3000:3000'
    networks:
      alica:
        aliases:
          - back

networks:
  alica:
    driver: bridge
